/*!
 * Alma Career Cookie Consent Manager
 * Example styles
 * FOR DEMONSTRATION PURPOSES ONLY, DO NOT USE IN YOUR PROJECT.
 */

html {
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100%;
}

summary {
    cursor: pointer;
}

code {
    color: var(--spirit-color-text-tertiary);
}

.docs-HeaderLogo {
    display: inline-flex;
    padding-right: var(--spirit-space-800);
    border-right: 1px solid var(--spirit-color-border-basic);
}

.docs-Controls {
    position: fixed;
    right: var(--spirit-space-1000);
    bottom: var(--spirit-space-1200);
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    gap: var(--spirit-space-600);
    justify-content: flex-end;
}

.docs-Category {
    padding: var(--spirit-space-700);
    border: 1px solid var(--spirit-color-border-basic);
    border-radius: var(--spirit-radius-200);
}

.docs-Category:has(> .Tag) {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.docs-Category.is-empty {
    color: var(--spirit-color-text-tertiary);
    border: var(--spirit-border-width-200) dashed var(--spirit-color-border-basic);
}

.docs-Category.is-informative {
    color: var(--spirit-color-emotion-informative-content-basic);
    border-color: var(--spirit-color-emotion-informative-border-basic);
    background-color: var(--spirit-color-emotion-informative-background-subtle);
}

.docs-Category.is-success {
    color: var(--spirit-color-emotion-success-content-basic);
    border-color: var(--spirit-color-emotion-success-border-basic);
    background-color: var(--spirit-color-emotion-success-background-subtle);
}

.docs-Category > .Tag {
    display: none;
}

.docs-Category.is-success > .Tag--success {
    display: inline-block;
}

.docs-Category:not(.is-success) > .Tag:not(.Tag--success) {
    display: inline-block;
}

.docs-border-bottom-basic {
    border-bottom: 1px solid var(--spirit-color-border-basic);
}

.docs-shadow {
    box-shadow: 0 0.5rem 1.5rem rgb(0 0 0 / 15%);
}
